<header class="p-4 border-b-2 border-indigo-500">
  <div class="flex items-baseline gap-4 pl-4">
    <h1 class="text-3xl font-bold">推し天文台</h1>
    <span class="text-sm text-indigo-200">
      - 照らされた個性たちを観測する場所 -
    </span>
    <span class="text-sm text-indigo-200">すとぷり/strawberryprince</span>
    <span class="text-sm text-indigo-200">騎士X/KnightX</span>
    <span class="text-sm text-indigo-200">AMPTAKxCOLORS</span>
    <span class="text-sm text-indigo-200">めておら/Meteorites</span>
    <span class="text-sm text-indigo-200">すにすて/SneakerStep</span>
    <span class="text-sm text-indigo-200">とぅるりぷ/True&Lip</span>
  </div>
</header>
