<aside class="p-4">
  <nav class="space-y-6">
    <div>
      <div
        class="px-4 pb-2 text-sm text-indigo-300 font-bold border-b border-indigo-800 mb-2"
      >
        推し活
      </div>
      <div class="space-y-1">
        <a
          routerLink="/video-search"
          class="block px-4 py-2 rounded-md hover:bg-indigo-800 transition-colors"
        >
          動画検索
        </a>
        <a
          routerLink="/calendar"
          class="block px-4 py-2 rounded-md hover:bg-indigo-800 transition-colors"
        >
          カレンダー
        </a>
      </div>
    </div>

    <div>
      <div
        class="px-4 pb-2 text-sm text-indigo-300 font-bold border-b border-indigo-800 mb-2"
      >
        生活
      </div>
      <div class="space-y-1">
        <a
          routerLink="/todo"
          routerLinkActive="bg-indigo-700 font-bold"
          class="block px-4 py-2 rounded-md hover:bg-indigo-800 transition-colors"
        >
          TODOリスト
        </a>
        <a
          routerLink="/budget-book"
          routerLinkActive="bg-indigo-700 font-bold"
          class="block px-4 py-2 rounded-md hover:bg-indigo-800 transition-colors"
        >
          家計簿
        </a>
        <a
          routerLink="/app-idea"
          routerLinkActive="bg-indigo-700 font-bold"
          class="block px-4 py-2 rounded-md hover:bg-indigo-800 transition-colors"
        >
          アプリアイデア
        </a>
      </div>
    </div>
  </nav>
</aside>
